<html>
    <head>
        <title>dmz</title>
    </head>
    <body>
        <h1>create</h1>
        <a href="/">home</a>

        <form id="create-form" action="/create" method="POST">
            <input type="password" id="pin" name="pin" />
            <button type="submit">create</button>
        </form>
    </body>
</html>